.password-saving {
  width: 100%;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/images/password-saving.png');
}
