#root {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.main {
  padding: 1rem;

  &__title {
    display: flex;
    margin: 0;
    color: rgba(29, 29, 29, 1);
    font-size: 2rem;
    font-weight: 700;
  }

  &__switches {
    margin-top: 10px;

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      label {
        margin-right: 10px;
      }
    }
  }
}

input.apple-switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 60px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;
  cursor: pointer;
}

input.apple-switch:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
  box-shadow: inset 30px 0 0 0 #4ed164;
  border-color: #4ed164;
}

input.apple-switch:checked:after {
  left: 30px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}
